Repository saxix/django-adminfilters: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8

isort:
  args:
  - --src
  - src/
  - --check-only
  name: isort
  entry: isort
  language: system
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

update filter title to show 'negated' info
  src/adminfilters/lookup.py
  src/adminfilters/mixin.py
  src/adminfilters/templates/adminfilters/_wrapper.html
  src/adminfilters/templates/adminfilters/lookup.html
  src/adminfilters/text.py
  tests/demoapp/demo/factories.py
  tests/demoapp/demo/management/commands/init_demo.py
  tests/demoapp/demo/migrations/0001_initial.py
  tests/demoapp/demo/models.py
  tests/demoapp/demo/utils.py
  tests/functional/conftest.py
  tests/functional/test_f_genericlookup.py
  tests/functional/test_f_querystring.py
Due: isort, flake8

updates tests
  src/adminfilters/checks.py
  src/adminfilters/multiselect.py
  src/adminfilters/text.py
  tests/.coveragerc
  tests/demoapp/demo/models.py
  tests/depot/test_models.py
  tests/test_django_check.py
  tests/test_json.py
  tests/test_multiselect.py
  tests/test_text.py
Due: isort, flake8

add tests
  src/adminfilters/dj.py
  src/adminfilters/extra.py
  src/adminfilters/utils.py
  tests/test_dj.py
  tests/test_extra.py
  tests/test_multiselect.py
  tests/test_utils.py
Due: isort, flake8

add FilterDepotManager test
  README.rst
  src/adminfilters/depot/selector.py
  tests/depot/test_manager.py
Due: isort, flake8

add tests
  src/adminfilters/depot/selector.py
  src/adminfilters/dj.py
  src/adminfilters/multiselect.py
  src/adminfilters/querystring.py
  tests/demoapp/demo/management/commands/init_demo.py
  tests/demoapp/demo/models.py
  tests/test_dj.py
  tests/test_extra.py
  tests/test_multiselect.py
  tests/test_querystring.py
Due: isort, flake8

add tests
  tests/demoapp/demo/migrations/0001_initial.py
Due: isort

fixes dj4 compap
  tests/depot/test_manager.py
  tox.ini
Due: isort, flake8

updates
  Makefile
  README.rst
  src/adminfilters/templates/adminfilters/querystring.html
  tests/demoapp/demo/admin.py
  tests/demoapp/demo/backends.py
  tests/demoapp/demo/management/commands/init_demo.py
  tests/demoapp/demo/settings.py
Due: isort, flake8

add heroku files
  Procfile
  requirements.txt
Due: none

updates Makefile
  Makefile
Due: none

updates demo STATIC_ROOT
  tests/demoapp/demo/settings.py
Due: isort, flake8

updates demo settimgs
  tests/demoapp/demo/settings.py
Due: isort, flake8

updates demo settimgs
  src/requirements/testing.pip
  tests/demoapp/demo/settings.py
Due: isort, flake8

updates demo settimgs
  Makefile
  tests/demoapp/demo/settings.py
Due: isort, flake8

updates demo settimgs
  tests/demoapp/demo/urls.py
Due: isort, flake8

updates demo settimgs
  Makefile
  tests/demoapp/demo/management/commands/init_demo.py
  tests/demoapp/demo/settings.py
  tests/demoapp/demo/urls.py
Due: isort, flake8

updates demo settimgs
  .github/workflows/test.yml
  tox.ini
Due: none

updates gh actions config
  .github/workflows/test.yml
Due: none

updates demo app
  tests/demoapp/demo/urls.py
Due: isort, flake8

fixes FilterDepotManager
  src/adminfilters/depot/selector.py
  tests/demoapp/demo/settings.py
Due: isort, flake8

fixes DjangoLookupFilter
  src/adminfilters/dj.py
  src/adminfilters/lookup.py
  src/adminfilters/querystring.py
  src/adminfilters/utils.py
  tests/test_dj.py
Due: isort, flake8

updates and bug fixes
  src/adminfilters/lookup.py
  src/adminfilters/numbers.py
  src/adminfilters/static/adminfilters/autocomplete.js
  src/adminfilters/static/adminfilters/autocomplete.min.js
  src/adminfilters/templates/adminfilters/lookup.html
  src/adminfilters/templates/adminfilters/text.html
  tests/demoapp/demo/utils.py
  tests/functional/test_f_djangolookup.py
  tests/functional/test_f_genericlookup.py
  tests/functional/test_f_number.py
  tests/functional/test_f_querystring.py
  tests/test_number.py
Due: isort, flake8

fixes demo app
  tests/demoapp/demo/admin.py
  tests/test_admin.py
Due: isort, flake8

add demo static files
  tests/demoapp/demo/static/favicon.ico
Due: none

updates ValueFilter
  src/adminfilters/numbers.py
  src/adminfilters/templates/adminfilters/value.html
  src/adminfilters/templates/adminfilters/value_multi.html
  src/adminfilters/value.py
  tests/demoapp/demo/admin.py
  tests/functional/test_f_number.py
  tests/functional/test_f_querystring.py
  tests/functional/test_f_value.py
  tests/test_dj.py
  tests/test_json.py
  tests/test_number.py
  tests/test_value.py
Due: isort, flake8

updates
  src/adminfilters/mixin.py
  src/adminfilters/querystring.py
  src/adminfilters/templates/adminfilters/autocomplete.html
  src/adminfilters/templates/adminfilters/lookup.html
  src/adminfilters/templates/adminfilters/querystring.html
  src/adminfilters/templates/adminfilters/value.html
  src/adminfilters/utils.py
  src/adminfilters/value.py
  tests/conftest.py
  tests/demoapp/demo/admin.py
  tests/demoapp/demo/utils.py
  tests/functional/conftest.py
  tests/functional/test_f_automplete.py
  tests/functional/test_f_number.py
  tests/functional/test_f_querystring.py
  tests/functional/test_f_value.py
  tests/test_automplete.py
  tests/test_querystring.py
  tests/test_value.py
  tox.ini
Due: isort, flake8

updates
  src/adminfilters/depot/templates/adminfilters/selector.html
  src/adminfilters/depot/templates/adminfilters/widget.html
  src/adminfilters/depot/widget.py
  src/adminfilters/multiselect.py
  src/adminfilters/static/adminfilters/depot.js
  src/adminfilters/static/adminfilters/jsonfilter.js
  src/adminfilters/static/adminfilters/jsonfilter.min.js
  src/adminfilters/static/adminfilters/lookup.js
  src/adminfilters/static/adminfilters/lookup.min.js
  src/adminfilters/static/adminfilters/multivalue.js
  src/adminfilters/static/adminfilters/multivalue.min.js
  src/adminfilters/static/adminfilters/text.js
  src/adminfilters/static/adminfilters/text.min.js
  src/adminfilters/static/adminfilters/value.js
  src/adminfilters/static/adminfilters/value.min.js
  src/adminfilters/templates/adminfilters/dj.html
  src/adminfilters/templates/adminfilters/json.html
  src/adminfilters/templates/adminfilters/querystring.html
  src/adminfilters/templates/adminfilters/text.html
  src/adminfilters/templates/adminfilters/text_multi.html
  src/adminfilters/templates/adminfilters/value.html
  src/adminfilters/templates/adminfilters/value_multi.html
  src/adminfilters/utils.py
  tests/demoapp/demo/admin.py
  tests/depot/test_widget.py
  tests/functional/test_f_depot.py
  tests/test_number.py
Due: isort, flake8

updates
  src/adminfilters/static/adminfilters/value.js
  src/adminfilters/static/adminfilters/value.min.js
  tests/functional/conftest.py
  tests/functional/test_f_number.py
  tests/functional/test_f_value.py
Due: isort, flake8

enable selenium in gh actions test
  .github/workflows/test.yml
Due: none

configure selenium in gh actions test
  .github/workflows/test.yml
Due: none

another CI selenium config test
  .github/workflows/test.yml
  src/requirements/testing.pip
Due: none

updates CI config
  .github/workflows/test.yml
  src/requirements/testing.pip
  tests/conftest.py
Due: isort, flake8

add missing files
  src/adminfilters/static/adminfilters/depot.min.js
  tests/functional/conftest.py
Due: isort, flake8

updates widget.placeholder
  README.md
  setup.py
  src/adminfilters/dj.py
  src/adminfilters/json.py
  src/adminfilters/mixin.py
  src/adminfilters/querystring.py
  src/adminfilters/templates/adminfilters/value.html
  src/adminfilters/templates/adminfilters/value_multi.html
  src/adminfilters/value.py
Due: isort, flake8

updates
  README.md
Due: none

Path conditions:
  isort: any of: \.py$, but not: tweepy
  flake8: any of: \.py$, but not: /(_plugin_template|python_twitter|migrations|tweepy)/
