Repository saxix/django-adminfilters: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8

isort:
  args:
  - --src
  - src/
  - --check-only
  name: isort
  entry: isort
  language: system
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

fixes cast_value
  src/adminfilters/utils.py
Due: isort, flake8

Bump version: 2.0.3 → 2.0.4
  .bumpversion.cfg
  src/adminfilters/__init__.py
Due: isort, flake8

updates CHANGES
  CHANGES.md
Due: none

updates bumpversion cfg
  .bumpversion.cfg
Due: none

Foreign Key can refer not only to pk field.
  src/adminfilters/autocomplete.py
Due: isort, flake8

add DateRangeFilter
  CHANGES.md
  src/adminfilters/dates.py
  tests/test_dates.py
Due: isort, flake8

Bump version: 2.0.4 → 2.1.0
  .bumpversion.cfg
  src/adminfilters/__init__.py
Due: isort, flake8

fixes tox config
  tox.ini
Due: none

removes default_app_config
  CHANGES.md
  src/adminfilters/__init__.py
  src/adminfilters/depot/__init__.py
Due: isort, flake8

updates tox
  tox.ini
Due: none

updates Querystringfilter
  CHANGES.md
  src/adminfilters/depot/migrations/0003_alter_storedfilter_id.py
  src/adminfilters/querystring.py
  src/adminfilters/utils.py
  tests/demoapp/demo/factories.py
  tests/demoapp/demo/migrations/0001_initial.py
  tests/demoapp/demo/models.py
  tests/test_dates.py
  tests/test_number.py
  tests/test_querystring.py
  tox.ini
Due: isort, flake8

updates doc
  CHANGES.md
  Makefile
  README.md
  docs/filters/_index.rst
  docs/filters/date.rst
  docs/filters/numbers.rst
  src/requirements/testing.pip
  tests/demoapp/demo/migrations/0001_initial.py
  tox.ini
Due: isort

removed double configuration
  setup.cfg
Due: none

updates CI
  .github/workflows/test.yml
Due: none

Bump version: 2.1.0 → 2.2.0
  .bumpversion.cfg
  src/adminfilters/__init__.py
Due: isort, flake8

pin selenium version
  src/requirements/testing.pip
  tests/conftest.py
Due: isort, flake8

force selenium to version==4.9.1 in tests
  src/requirements/testing.pip
  tox.ini
Due: none

add __pycache__ to gitignore
  .gitignore
Due: none

updates github CI to match supported versions
  .github/workflows/test.yml
  .travis.yml
Due: none

Fixes #29
  .gitignore
  src/adminfilters/numbers.py
Due: isort, flake8

updates
  CHANGES.md
  docs/filters/autocomplete.rst
  src/adminfilters/autocomplete.py
  src/adminfilters/mixin.py
  src/requirements/testing.pip
  tests/conftest.py
Due: isort, flake8

updates selenium config
  tests/functional/conftest.py
Due: isort, flake8

updates selenium tests
  tests/functional/conftest.py
Due: isort, flake8

updates ci tests
  .github/workflows/test.yml
Due: none

bump version
  .bumpversion.cfg
  CHANGES.md
  src/adminfilters/__init__.py
Due: isort, flake8

fixes LinkedAutoCompleteFilter
  src/adminfilters/autocomplete.py
Due: isort, flake8

add rtd config file
  .gitignore
  .readthedocs.yaml
Due: none

updates RTD theme
  .gitignore
  docs/conf.py
Due: isort, flake8

updates RTD config
  .readthedocs.yaml
Due: none

updates docs/chamgelog
  docs/changes.rst
Due: none

updates docs
  docs/filters/autocomplete.rst
  docs/filters/dj.rst
  docs/filters/json.rst
  docs/filters/querystring.rst
  docs/filters/value.rst
Due: none

Adding Django5 and Python 3.11,3.12 compatibility
  .github/workflows/test.yml
  setup.py
  src/adminfilters/autocomplete.py
  src/adminfilters/compat.py
  src/adminfilters/depot/widget.py
  src/adminfilters/dj.py
  src/adminfilters/mixin.py
  src/adminfilters/numbers.py
  src/adminfilters/querystring.py
  src/adminfilters/value.py
  src/requirements/testing.pip
  tests/demoapp/demo/factories.py
  tests/functional/conftest.py
  tests/test_automplete.py
  tests/test_extra.py
  tests/test_value.py
  tox.ini
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: tweepy
  flake8: any of: \.py$, but not: /(_plugin_template|python_twitter|migrations|tweepy)/
